ul {
    list-style-type: none;
}

li.normal{
    background: green;
}

li.high{
    background: red;
}

li span{
    padding: 8px;
}

li {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 30%;
  }